<main class="pagina">

  <header class="cabecalho">
    <h1>Minha galeria</h1>
    <input type="text" busca [(ngModel)]="busca" placeholder="Pesquisa">
    <h2>Filmes</h2>
  </header>

  <section class="cards">

    @for (filme of filmesExibidos; track filme.id) {
    <article class="card">
      <h2 class="card_title">
        {{ filme.titulo }}
      </h2>
      <div class="card_icon">
        <img [src]="filme.capa" [alt]="filme.titulo" class="img">
      </div>
      <div class="info">
        <p>
          Gênero: {{ filme.genero }}
        </p>
        <p>
          Nota {{ filme.nota }}
        </p>
        <button (click)="alternarAssistido(filme)">
          @if (filme.assistido) {
          Assistido ✓
          } @else {
          Marcar como assistido
          }
        </button>
      </div>
    </article>
    }
  </section>
</main>