<main class="pagina">

    <header class="cabecalho">
        <h1>💲Calculadoras💲</h1>
        <p>Dois exercícios, dois cards: troco e preço por KG</p>
    </header>

    <section class="cards">

        <!--CARD CALCULADORA DE TROCO-->
        <article class="card">
            <div class="card-icone"></div>
            <h2 class="card-titulo">💱Calculadora de Troco💱</h2>

            <div class="campo">
                <label for="valorPago">Valor Pago(R$)</label>
                <input id="valorPago" type="number" min="0" step="0.01" [(ngModel)]="valorPago" placeholder="0,00" />
            </div>

            <div class="campo">
                <label for="precoProduto">Preço do Produto(R$)</label>
                <input id="precoProduto" type="number" min="0" step="0.01" [(ngModel)]="precoProduto"
                    placeholder="0,00" />
            </div>

            <div class="resultado" [class.resultado-negativo]="valorPago < precoProduto">

                <span class="resultado-rotulo">Troco</span>
                <span class="resultado-valor">
                    R$ {{calcularTroco().toFixed(2)}}
                </span>
            </div>

        </article>

        <!--Card Calculadora de preço por Quilo-->
        <article class="card">
            <div class="card-icone"></div>
            <h2 class="card-titulo">⚖️Preço por KG⚖️</h2>

            <div class="campo">
                <label for="precoQuilo">Valor do KG (R$)</label>
                <input id="precoQuilo" type="number" min="0" step="0.01" [(ngModel)]="precoQuilo" placeholder="0,00" />
            </div>

            <div class="campo">
                <label for="quantidadeQuilo">Quantidade do KG</label>
                <input id="quantidadeQuilo" type="number" min="0" step="0.01" [(ngModel)]="quantidadeQuilo"
                    placeholder="0,00" />
            </div>

            <div class="resultado">
                <span class="resultado-rotulo">Total a Pagar</span>
                <span class="resultado-valor">
                    R$ {{ valorPorPeso().toFixed(2)}}
                </span>
            </div>

        </article>

    </section>

</main>